.header {
  background-color: var(--brand-color-10);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  height: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo-link {
  display: inline-block;
  margin-right: 1rem;
  margin-left: 1rem;
}

.logo {
  max-height: 2.5rem;
  width: auto;
}

.profile-dropdown {
  margin-left: auto;
}

body.light-mode .header {
  background-color: var(--brand-color-80);
}