/node_modules/
/tmp/
/build/
/coverage/
/.coverage/
/.eslintcache
/.env
/deploy.sh
/.vs/
yarn-error.log*
/junit.xml
*.timestamp-*
*.bundled_*

/dist/
/static/
/public/
/dist/
src/custom/
src/assets/images/spaces/

.idea
.DS_Store

# surge.sh
/CNAME
/AUTH
/CORS
/ROUTER