.search-bar {
    flex-grow: 0; /* Do not allow it to grow */
    width: 300px; /* Adjust width as needed */
    display: flex;
    align-items: center;
    margin-right: 1rem; /* Adjust as necessary */
  }
  
  .search-bar input[type="search"] {
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    border: none;
    background-color: var(--brand-color-20); /* Dark mode input background */
    color: white;
  }

  body.light-mode .search-bar input[type="search"] {
    background-color: var(--brand-color-95); /* Light mode input background */
  }