.sidebar {
  background-color: transparent;
  color: #ffffff;
  flex: 1; 
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 4rem;
  box-sizing: border-box;
  font-family: 'URWDIN', sans-serif;
}

.sidebar a {
  color: #ffffff;
  padding: 1rem 0 1rem 2rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
}

.sidebar a:hover {
  background-color: var(--brand-color-20); /* Dark mode active/hover state */
}

body.light-mode .sidebar a:hover {
  background-color: var(--brand-color-95); /* Light mode active/hover state */
}