.signup-form {
    /* Reuse styles from .login-form */
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 600px;
    height: 600px;
    background: var(--brand-color-5);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'URWDIN', sans-serif;
  }
  .signup-form input {
    width: 80%;
    margin: 0;
    height: 30px;
    padding: 10px;
    border: 1px solid var(--brand-color);
    border-radius: 5px;
    color: white;
    font-size: 16px;
    background: black;
    font-family: 'URWDIN', sans-serif;
  }
  .signup-form h2 {
    font-size: 24px;
    color: var(--brand-color);
    margin-bottom: 20px;
    font-weight: normal;
  }

  .signup-form input::placeholder {
    color: gray; /* Style for the placeholder text */
  }
  
  /* Reuse styles for input containers and buttons from .login-form */
  .input-container {
    width: 80%;
    position: relative;
    margin: 0 auto;
  }
  
  .input-container input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid var(--brand-color);
    border-radius: 4px;
    color: white;
    background: var(--brand-color-5);
  }
  
  .step-indicator {
    align-self: flex-start;
    margin-left: 1%;
    color: var(--brand-color);
    font-size: 14px;
  }

  .dob-label {
    align-self: flex-start;
    margin-left: 10%; /* This should match the input-container's margin to align them */
    color: white; /* Adjust the color as needed */
    font-size: 16px; /* Adjust the size as needed */
    margin-bottom: 0px; /* Adjust the padding between the label and the fields as needed */
  }
  
  
  .date-of-birth-container {
    width: 80%;
    display: flex;
    gap: 10px; /* Spacing between dropdowns */
  }
  
  .date-of-birth-container select {
    padding: 10px;
    border: 1px solid var(--brand-color);
    border-radius: 4px;
    color: white;
    background: var(--brand-color-5);
    font-family: 'URWDIN', sans-serif;
    font-size: 16px;
    height: 50px;
    -webkit-appearance: none; /* For Safari and Chrome */
    -moz-appearance: none;    /* For Firefox */
    appearance: none;         /* For modern browsers */
    box-shadow: none; /* Removes any default inner shadow */
  }
  
  .date-of-birth-container select:nth-child(1) {
    width: 45% /* Adjusted width for month */
  }
  
  .date-of-birth-container select:nth-child(2) {
    width: 25% /* Adjusted width for day */
  }
  
  .date-of-birth-container select:nth-child(3) {
    width: 30%  /* Adjusted width for year */
  }
  
  